<div class="container">
  <div class="row">
    <h1>Welcome to {{ title }}</h1>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <input
        [(ngModel)]="num1"
        type="number"
        placeholder="Enter number 1"
        class="form-control"
      />
    </div>
    <div class="col-md-6">
      <input
        [(ngModel)]="num2"
        type="number"
        placeholder="Enter number 2"
        class="form-control"
      />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="row text-center">
      <div class="col-md-3">
        <button class="btn btn-info" (click)="add()">Add</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" (click)="subtract()">Subtract</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" (click)="multiply()">Multiply</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" (click)="divide()">Divide</button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h2>{{ result }}</h2>
    </div>
  </div>
  <br />
</div>

<router-outlet></router-outlet>
